.main {
  padding-top: 0
}
.header {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'PT Sans', sans-serif;
}
.text {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
}
.image-placeholder {
  margin-bottom: 10px;
}
.meta {
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.buttons {
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
}
.button {
  margin-right: 5px;
}
.meta-info {
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-end;
}
.avatar {
  margin-right: 10px;
  border-radius: 10px;
}
